CarFactoryAPI/obj/CarFactoryApi.csproj.nuget.dgspec.json
CarFactoryAPI/obj/CarFactoryApi.csproj.nuget.g.props
CarFactoryAPI/obj/CarFactoryApi.csproj.nuget.g.targets
CarFactoryAPI/obj/project.assets.json
CarFactoryAPI/obj/project.nuget.cache
CarFactoryAPI/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
CarFactoryAPI/obj/Debug/net9.0/CarFactoryApi.AssemblyInfo.cs
CarFactoryAPI/obj/Debug/net9.0/CarFactoryApi.AssemblyInfoInputs.cache
CarFactoryAPI/obj/Debug/net9.0/CarFactoryApi.assets.cache
CarFactoryAPI/obj/Debug/net9.0/CarFactoryApi.csproj.AssemblyReference.cache
CarFactoryAPI/obj/Debug/net9.0/CarFactoryApi.GeneratedMSBuildEditorConfig.editorconfig
CarFactoryAPI/obj/Debug/net9.0/CarFactoryApi.GlobalUsings.g.cs
