CarFactoryAPI/obj/CarFactoryApi.csproj.nuget.dgspec.json
CarFactoryAPI/obj/CarFactoryApi.csproj.nuget.g.props
CarFactoryAPI/obj/CarFactoryApi.csproj.nuget.g.targets
CarFactoryAPI/obj/project.assets.json
CarFactoryAPI/obj/project.nuget.cache
CarFactoryAPI/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
CarFactoryAPI/obj/Debug/net9.0/CarFactoryApi.AssemblyInfo.cs
CarFactoryAPI/obj/Debug/net9.0/CarFactoryApi.AssemblyInfoInputs.cache
CarFactoryAPI/obj/Debug/net9.0/CarFactoryApi.assets.cache
CarFactoryAPI/obj/Debug/net9.0/CarFactoryApi.csproj.AssemblyReference.cache
CarFactoryAPI/obj/Debug/net9.0/CarFactoryApi.GeneratedMSBuildEditorConfig.editorconfig
CarFactoryAPI/obj/Debug/net9.0/CarFactoryApi.GlobalUsings.g.cs
CarFactoryAPI/obj/Debug/net9.0/apphost.exe
CarFactoryAPI/obj/Debug/net9.0/CarFacto.D0C25A1A.Up2Date
CarFactoryAPI/obj/Debug/net9.0/CarFactoryApi.csproj.CoreCompileInputs.cache
CarFactoryAPI/obj/Debug/net9.0/CarFactoryApi.csproj.FileListAbsolute.txt
CarFactoryAPI/obj/Debug/net9.0/CarFactoryApi.dll
CarFactoryAPI/obj/Debug/net9.0/CarFactoryApi.genruntimeconfig.cache
CarFactoryAPI/obj/Debug/net9.0/CarFactoryApi.MvcApplicationPartsAssemblyInfo.cache
CarFactoryAPI/obj/Debug/net9.0/CarFactoryApi.MvcApplicationPartsAssemblyInfo.cs
CarFactoryAPI/obj/Debug/net9.0/CarFactoryApi.pdb
CarFactoryAPI/obj/Debug/net9.0/CarFactoryApi.sourcelink.json
CarFactoryAPI/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
CarFactoryAPI/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
CarFactoryAPI/obj/Debug/net9.0/rpswa.dswa.cache.json
CarFactoryAPI/obj/Debug/net9.0/staticwebassets.build.endpoints.json
CarFactoryAPI/obj/Debug/net9.0/staticwebassets.build.json
CarFactoryAPI/obj/Debug/net9.0/staticwebassets.build.json.cache
CarFactoryAPI/obj/Debug/net9.0/ref/CarFactoryApi.dll
CarFactoryAPI/obj/Debug/net9.0/refint/CarFactoryApi.dll
